$headerHeight: rem(80);

header {
  position: relative;
  width: 100%;
  height: $headerHeight;
  background: $primary-dark;
  border-top: 1px solid $primary;

  @include min-screen($media-small) {
    border-top: none;
    padding: rem(20, 10);
    width: $headerHeight;
    height: 100vh;
  }

  .h1 {
    display: none;
    position: absolute;
    right: 0;
    bottom: rem(20);
    left: 0;
    transform: rotate(-90deg);
    @include displayFontBold();
    font-size: 28px;
    line-height: $headerHeight;
    white-space: nowrap;
    color: $primary;

    @include min-screen($media-small) {
      display: block;
    }
  }
}
