// *******************************************
// *******************************************

// Base icon styles

// *******************************************
// *******************************************

// <span class="icon [icon--[name] icon--rotate-[val] icon--[color]]">
//     <svg />
// </span>

.icon {
  display: block;
  width: rem(25);
  height: rem(25);
  background: transparent;
  fill: $black;
  pointer-events: none;
}

// size modifiers
.icon--x-small {
  width: rem(10);
  height: rem(10);
}

.icon--small {
  width: rem(15);
  height: rem(15);
}

.icon--medium {
  width: rem(20);
  height: rem(20);
}

.icon--large {
  width: rem(30);
  height: rem(30);
}

.icon--x-large {
  width: rem(40);
  height: rem(40);
}

// rotation modifiers
.icon--rotate-45 {
  transform: rotate(45deg);
}

.icon--rotate-90 {
  transform: rotate(90deg);
}

.icon--rotate-180 {
  transform: rotate(180deg);
}

.icon--rotate-270 {
  transform: rotate(270deg);
}

// color modifiers
.icon--black {
  fill: $black;
}

.icon--white {
  fill: $white;
}

.icon--primary {
  fill: $primary;
}

.icon--secondary {
  fill: $secondary;
}

.icon--tertiary {
  fill: $tertiary;
}

.icon--status--warning {
  fill: $status--warning;
}
